[run]
source = src
omit = src/**/__init__.py,src/tests/**,src/ui/**,src/main.py,src/services/tee_uusi_midi_tiedosto.py,src/services/luo_uusi_kappale.py, src/services/luo_opetusdata_abc.py:.*lue_ja_muunna_abc_data.*
[report]
omit = *__init__.py*
